@charset 'utf-8';
@import 'base';
@import '../styles/fonts.css';

// FONTES
@titulo: 'HUGEAvantGardeBold', sans-serif;
@corpo: 'Galaxie', serif;
@extra: 'Helvetica Neue', Arial, sans-serif;

@width: 968px;
@raio: 10px;

// MIXINS ESPECÍFICOS


// LAYOUT
